[submodule "SudokuNet"]
	path = SudokuNet
	url = https://github.com/uf-fipper/SudokuNet.git
[submodule "SudokuServer"]
	path = SudokuServer
	url = https://github.com/uf-fipper/SudokuServer.git
[submodule "sudokuFrontEnd"]
	path = sudokuFrontEnd
	url = https://github.com/uf-fipper/sudoku-front-end.git
